@charset "UTF-8";
/* CSS Document */

/* Control Panel */

.control-panel {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 8px 14px;
  background-color: #F0EABE;
  border: 1px solid #ccc;
  z-index: 200;
  font-size: 12px;
  line-height: 1.3em;
}

.control-on {
  color: #555;
  font-weight: bold;
}

.app-pages {
  font-size: 11px;
  margin-left: 20px;
  color: #dadada;
  float: right;
}
